{% extends '::base.html.twig' %}

{% block body %}
<aside class="main-sidebar">
<section class="sidebar" style="height:auto">

</section>
</aside>

<div class="content-wrapper>
</div>
<footer class="footer">
  <span class="credits">Copyright &copy; 2016 by Akirion. All rights reserved.</span>
</footer>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css"
      href="{{ asset('bundles/app/vendor/bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ asset('bundles/app/vendor/bootstrap/css/bootstrap-theme.min.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ asset('bundles/app/css/app.css') }}" />  
<link rel="stylesheet" type="text/css"
      href="{{ asset('bundles/app/css/app-theme.css') }}" />      
{% endblock %}
{% block javascripts %}
<script type="text/javascript"
        src="{{ asset('bundles/app/vendor/jquery/js/jquery-2.2.2.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/app/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/app/js/app.js') }}"></script>        
{% endblock %}
